@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 
  background-image: url("./assets/46.png");

  background-size: cover;
  background-position: center;
 background-attachment: fixed;
  
}



.sda {
  backdrop-filter: blur(5px); 
  -webkit-backdrop-filter: blur(5px);
  box-shadow: #000 1px 1px 3px ;
 
}

.bo{
  box-shadow: #000 1px 1px 3px ;
  /* backdrop-filter: blur(2px); 
  -webkit-backdrop-filter: blur(2px); */
}

.qq{
  box-shadow: #000 1px 1px 5px 1px;
}

@media (max-width: 440px) {
  .sda {
    backdrop-filter: blur(2px); 
    -webkit-backdrop-filter: blur(2px);
    box-shadow: #000 1px 1px 3px ;
  }
  .s{
    font-size: 1.2rem;
  }
  p{
    text-wrap: wrap;
  }
  .o{
    padding: 0.7rem;
  }
  .r{
    max-width: 180px;
    width: 100%;
    height: auto;
  }
}