@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-image: linear-gradient(to bottom left, #000 60%, #fff); */
  background-image: url("./46.png");

  background-size: cover;
  background-position: center;
 background-attachment: fixed;
  
}



.sda {
  backdrop-filter: blur(5px); 
  -webkit-backdrop-filter: blur(5px);
  box-shadow: #000 1px 1px 3px ;
 
}

.bo{
  box-shadow: #000 1px 1px 3px ;
  /* backdrop-filter: blur(2px); 
  -webkit-backdrop-filter: blur(2px); */
}

.qq{
  box-shadow: #000 1px 1px 5px 1px;
}